#createActivityForm {
    display: none;
}

#fakeNav {
    padding: 10px;
}

#getActivityForm {
    padding: 10px;
}

#getCategoryForm {
    padding: 10px;
}

#formToReplaceActivity {
    display: none;
}
