#createActivityForm {
    display: none;
}

#fakeNav {
    padding: 10px;
}

#getActivityForm {
    padding: 10px;
}

#getCategoryForm {
    padding: 10px;
}

#formToReplaceActivity {
    display: none;
}

nav {
    padding: 10px;
    padding-top: 20px;
    border: 10px;
}

button {
    padding-top: 10px;
    border: 10px;
}

body {
    color: #663399 !important;
}

h1 {
    color: #663399 !important;
}
